{% extends "layouts/base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-8 offset-md-3">
        <h2 class="display-5">Operación realizada con exito</h2>
    </div>
    {% if tipo == "actualizacion"%}
        <div class="col-md-8 offset-md-3">
            <br>
            <h2>Actualización de datos completada</h2>
            <a href="/" class="btn btn-outline-primary"> Ir al inicio </a>
        </div>
    {% elif tipo == "inscripcion" %}
        <p>Guarde este numero {{ folio }}</p>
    {% elif tipo == "3" %}
        <a href="/solicitud/inscripcion/firmas/pendiente" class="btn btn-outline-primary"> Regresar </a>
    {% endif %}
</div>

{% endblock %}