{% extends "layouts/base.html" %}
{% block content %}

<h1>FORMULARIO DE INSCRIPIÓN</h1>
<h1>{{error}}</h1>
<form action="/solicitud/inscripcion/firmas" method="post">
    {% csrf_token %}
    <ul class="list-group">
        <li class="list-group-item">
            <h3>Firmas</h3>
            {{ formF.as_p }}
        </li>
    </ul>        
    <button class="btn btn-primary">Enviar</button>
</form>

<form action="/solicitud/cancelar" method="post">
    {% csrf_token %}
    <button class="btn btn-secondary">Cancelar</button>
</form>
{% endblock %}