{% extends "layouts/base.html" %}
{% block content %}

<h1>ACTA DE REVISIÓN DE TESIS</h1>
<h1>{{error}}</h1>
<form action="/tesis/revision" method="post">
    {% csrf_token %}
    <ul class="list-group">
        <li class="list-group-item">
            <h3>Datos personales del alumno</h3>
            {{ formDatosP.as_p }}
        </li>
        <li class="list-group-item">
            <h3>Datos academicos del alumno</h3>
            {{ formDatosA.as_p }}
        </li>
        <li class="list-group-item">
            {{ formColegio.as_p }}
        </li>
        <li class="list-group-item">
            {{ formTesis.as_p }}
        </li>
    </ul>        
    <button class="btn btn-primary">Guardar</button>
</form>
{% endblock %}