<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procesar Lista de Datos</title>
    <script>
        window.onload = function () {
            const formularios = document.querySelectorAll("form");
            formularios.forEach(form => form.submit());
        };
    </script>
</head>
<body>
    {% for dato in datos %}
    <form action="/pdf/" method="post" target="_blank">
        {% csrf_token %}
        <label hidden>{{ dato }}</label>
        <input type="hidden" name="dato" value="{{ dato }}">
    </form>
    {% endfor %}

</body>
</html>
