{% extends "layouts/base.html" %}

{% block content %}
<div id="contenido">		
	<section class="card-body">
		<div>
			<h3>Formularios</h3>
			<ul class="list-group">
				<li class="list-group-item border border-2 border-dark">
					<p> Fecha de apertura del formulario: {{ inscripcion.fecha_inicio }}</p>
					<p> Fecha de cierre del formulario: {{ inscripcion.fecha_final }}</p>
					{% if user.is_authenticated %}
						<a class="list-group-item active" href="/solicitud/inscripcion/firmas">Inscripción</a>
					{% else %}
						<a class="list-group-item active" href="/solicitud/inscripcion/datos/alumno">Inscripción</a>
					{% endif %}
				</li>
				
				<li class="list-group-item border border-2 border-dark">
					<p> Fecha de apertura del formulario: {{ reinscripcion.fecha_inicio }}</p>
					<p> Fecha de cierre del formulario: {{ reinscripcion.fecha_final }}</p>
					<a class="list-group-item active" href="/solicitud/reinscripcion">Reinscripción</a>
				</li>
				<li class="list-group-item border border-2 border-dark">
					<p> Fecha de apertura del formulario: {{ programa.fecha_inicio }}</p>
					<p> Fecha de cierre del formulario: {{ programa.fecha_final }}</p>
					<a class="list-group-item active" href="/programa/individual/actividades">Programa individual</a>
				</li>
				<li class="list-group-item border border-2 border-dark">
					<p> Fecha de apertura del formulario: {{ registro.fecha_inicio }}</p>
					<p> Fecha de cierre del formulario: {{ registro.fecha_final }}</p>
					<a class="list-group-item active" href="/tesis/registro">Tesis registro</a>
				</li>
				{% if user.is_authenticated %}
					<li class="list-group-item border border-2 border-dark">
						<p> Fecha de apertura del formulario: {{ revision.fecha_inicio }}</p>
						<p> Fecha de cierre del formulario: {{ revision.fecha_final }}</p>
						<a class="list-group-item active" href="/tesis/revision">Tesis revisión</a>
					</li>
				{% endif %}
			</ul>
	</section>
</div>
{% endblock %}
