{% extends "layouts/base.html" %}

{% block content %}
<style>
    .hidden {
        display: none;
    }
</style>
<main class="container">
    <h1>FORMULARIO DE INSCRIPIÓN</h1>
    <h1>{{error}}</h1>
    <form action="/solicitud/inscripcion/" method="post">
        {% csrf_token %}
        <ul class="list-group">
            <li class="list-group-item">
                <h3>Datos Personales</h3>
                {{ form1.as_p }}
            </li>
            <li class="list-group-item">
                <h3>Datos Academicos</h3>
                {{ form2.as_p }}
            </li>
            <li class="list-group-item" id="Seccion_Ante">
                <h3>Antecedentes Academicos</h3>
                {{ forms3.management_form }}
                <div id="formularios ante">
                    {% for form in forms3 %}
                        <div class="formulario ante">
                            {{ form.as_p }}
                        </div>
                    {% endfor %}
                </div>
                <div id='empty-form-ante' class='hidden'>{{ forms3.empty_form.as_p }}</div>
                <div><button id='agregar antecedente' type='button' class="btn btn-secondary">Añadir antecedente</button></div>
            </li>
            <li class="list-group-item" id="Seccion_Prog">
                <h3>Programa a cursar</h3>
                {{ forms4.management_form }}
                <div id="formularios prog">
                    {% for form in forms4 %}
                        <div class="formulario prog">
                            {{ form.as_p }}
                        </div>
                    {% endfor %}
                </div>
                <div id='empty-form-prog' class='hidden'>{{ forms4.empty_form.as_p }}</div>
                <div><button id='agregar materia' type='button' class="btn btn-secondary">Añadir materia</button></div>
            </li>
            <li class="list-group-item">{{form5.as_p}}</li>
        </ul>        
        <button class="btn btn-primary">Guardar</button>
    </form>
</main>

<script>
    const addAnteBtn = document.getElementById('agregar antecedente')
    const addMateBtn = document.getElementById('agregar materia')
    const totalNewFormsAnte = document.querySelector("#Seccion_Ante #id_form-TOTAL_FORMS")
    const totalNewFormsProg = document.querySelector("#Seccion_Prog #id_form-TOTAL_FORMS")
    addAnteBtn.addEventListener('click', add_new_form_ante)
    addMateBtn.addEventListener('click', add_new_form_mate)

    function add_new_form_ante(event) {
        if (event) {
            event.preventDefault()
        }

        const currentAntecedentes = document.getElementsByClassName('formulario ante')
        let currentFormCount = currentAntecedentes.length

        const formCopyTarget = document.getElementById('formularios ante')
        const copyEmptyFormEL = document.getElementById('empty-form-ante').cloneNode(true)
        copyEmptyFormEL.setAttribute('class', 'formulario ante')
        copyEmptyFormEL.setAttribute('id', `form-ante-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEL.innerHTML = copyEmptyFormEL.innerHTML.replace(regex,
        currentFormCount)
        totalNewFormsAnte.setAttribute('value', currentFormCount + 1)

        formCopyTarget.append(copyEmptyFormEL)
    }

    function add_new_form_mate(event) {
        if (event) {
            event.preventDefault()
        }

        const currentAntecedentes = document.getElementsByClassName('formulario prog')
        let currentFormCount = currentAntecedentes.length

        const formCopyTarget = document.getElementById('formularios prog')
        const copyEmptyFormEL = document.getElementById('empty-form-prog').cloneNode(true)
        copyEmptyFormEL.setAttribute('class', 'formulario prog')
        copyEmptyFormEL.setAttribute('id', `form-prog-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEL.innerHTML = copyEmptyFormEL.innerHTML.replace(regex,
        currentFormCount)
        totalNewFormsProg.setAttribute('value', currentFormCount + 1)
        formCopyTarget.append(copyEmptyFormEL)
    }
</script>
{% endblock %}