{% extends "layouts/base.html" %}
{% block content %}

<h1>ACTA DE REGISTRO DE TESIS Y DESIGNACION DE DIRECTOR DE TESIS</h1>
<h1>{{error}}</h1>
<form action="/tesis/registro" method="post">
    {% csrf_token %}
    <ul class="list-group">
        {% if user.is_authenticated %}
            <li class="list-group-item">
                <div class="mb-3">
                    <label for="id_solicitud">Id de la solicitud</label>
                    <input type="text" name="id_solicitud" id="id_solicitud" class="mb-2">
                </div>
            </li>
            <li class="list-group-item">
                <h3>Datos Colegio de Profesores</h3>
                {{ formColegio.as_p }}
            </li>
            <li class="list-group-item">
                <div class="mb-3">
                    <label for="firma_director_1">Firma director 1</label>
                    <input type="checkbox" name="firma_director_1" id="firma_director_1" class="form-check-input">
                </div>
                <div class="mb-3">
                    <label for="firma_director_2">Firma director 2</label>
                    <input type="checkbox" name="firma_director_2" id="firma_director_2" class="form-check-input">
                </div>
                <div class="mb-3">
                    <label for="firma_presidente_colegio">Firma presidente del colegio</label>
                    <input type="checkbox" name="firma_presidente_colegio" id="firma_presidente_colegio" class="form-check-input">
                </div>
            </li>
        {% else %}
            <li class="list-group-item">
                <h3>Datos Personales</h3>
                {{ formDatosP.as_p }}
            </li>
            <li class="list-group-item">
                <h3>Datos Academicos</h3>
                {{ formDatosA.as_p }}
            </li>
            <li class="list-group-item">
                <div class="mb-3">
                    <label for="fecha">Fecha de la solicitud</label>
                    <input type="date" name="fecha" id="fecha" class="mb-2">
                </div>
                <div class="mb-3">
                    <label for="tema_tesis">Tema de la tesis</label>
                    <input type="text" name="tema_tesis" id="tema_tesis" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="fecha_limite">Objetivo general de la tesis</label>
                    <textarea name="objetivo_general_tesis" id="objetivo_general_tesis" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label for="nombre_director_1">Nombre director 1</label>
                    <input type="text" name="nombre_director_1" id="nombre_director_1" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="nombre_director_2">Nombre director 2</label>
                    <input type="text" name="nombre_director_2" id="nombre_director_2" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="aplicacion_director">Aplica segundo director</label>
                    <input type="checkbox" name="aplicacion_director" id="aplicacion_director" class="form-check-input">
                </div>
                <div class="mb-3">
                    <label for="base_tesis">Base de la tesis</label>
                    <textarea name="base_tesis" id="base_tesis" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label for="firma_alumno">Firma del alumno</label>
                    <input type="checkbox" name="firma_alumno" id="firma_alumno" class="form-check-input">
                </div>
            </li>
        {% endif %}
    </ul>        
    <button class="btn btn-primary">Guardar</button>
</form>
{% endblock %}