{% extends "layouts/base.html" %}
{% block content %}

<style>
    .hidden {
        display: none;
    }
</style>

<h1>FORMULARIO DE REINSCRIPCIÓN</h1>
<h1>{{error}}</h1>
<form action="/solicitud/reinscripcion" method="post">
    {% csrf_token %}
    <ul class="list-group">
        {% if user.is_authenticated %}
            <li class="list-group-item">
                <div class="mb-3">
                    <label for="id_solicitud">Id de la solicitud</label>
                    <input type="text" name="id_solicitud" id="id_solicitud" class="mb-2">
                </div>
                <div class="mb-3">
                    <label for="firma_asesor">Firma del asesor</label>
                    <input type="checkbox" name="firma_asesor" id="firma_asesor" class="form-check-input">
                </div>
                <div class="mb-3">
                    <label for="firma_jefe">Firma del jefe de la Sección</label>
                    <input type="checkbox" name="firma_jefe" id="firma_jefe" class="form-check-input">
                </div>
            </li>
        {% else %}
            <li class="list-group-item">
                <h3>Datos Personales</h3>
                {{ formDatosP.as_p }}
            </li>
            <li class="list-group-item">
                <h3>Datos Academicos</h3>
                {{ formDatosA.as_p }}
            </li>
            <li class="list-group-item">
                <div class="mb-3">
                    <label for="fecha">Fecha de la solicitud</label>
                    <input type="date" name="fecha" id="fecha" class="mb-2">
                </div>
                <div class="mb-3">
                    <label for="periodo">Periodo a cursar</label>
                    <input type="text" name="periodo" id="periodo" class="mb-2">
                </div>
                <div class="mb-2">
                    <label for="semestre_a_cursar">Semestre a cursar:</label>
                    <select name="semestre_a_cursar" id="semestre_a_cursar" class="form-select">
                        <option selected>-------------</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="firma_alumno">Firma del alumno</label>
                    <input type="checkbox" name="firma_alumno" class="form-check-input">
                </div>
                <div class="mb-3">
                    <label for="requiere_unidad">Requiere una unidad de aprendizaje</label>
                    <input type="checkbox" name="requiere_unidad" id="requiere_unidad" class="form-check-input">
                </div>
            </li>
            <li class="list-group-item" id="Seccion_Prog">
                <h3>Programa a cursar</h3>
                {{ formsPrograma.management_form }}
                <div id="formularios prog">
                    {% for form in formsPrograma %}
                        <div class="formulario prog">
                            {{ form.as_p }}
                        </div>
                    {% endfor %}
                </div>
                <div id='empty-form-prog' class='hidden'>{{ formsPrograma.empty_form.as_p }}</div>
                <div><button id='agregar materia' type='button' class="btn btn-secondary">Añadir materia</button></div>
            </li>
        {% endif %}
    </ul>        
    <button class="btn btn-primary">Guardar</button>
</form>

<script>
    const addMateBtn = document.getElementById('agregar materia')
    const totalNewFormsProg = document.querySelector("#id_form-TOTAL_FORMS")
    addMateBtn.addEventListener('click', add_new_form_mate)

    function add_new_form_mate(event) {
        if (event) {
            event.preventDefault()
        }

        const currentAntecedentes = document.getElementsByClassName('formulario prog')
        let currentFormCount = currentAntecedentes.length

        const formCopyTarget = document.getElementById('formularios prog')
        const copyEmptyFormEL = document.getElementById('empty-form-prog').cloneNode(true)
        copyEmptyFormEL.setAttribute('class', 'formulario prog')
        copyEmptyFormEL.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEL.innerHTML = copyEmptyFormEL.innerHTML.replace(regex,
        currentFormCount)
        totalNewFormsProg.setAttribute('value', currentFormCount + 1)
        formCopyTarget.append(copyEmptyFormEL)
    }
</script>
{% endblock %}