{% extends "layouts/base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>REGISTRO DE USUARIO</h2>
        {{error}}
        <form action="/signup/" method="post" class="card card-body text-center">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username">Usuario:</label>
                <input type="text" name="username" class="form-control" placeholder="Nombre de usuario">
            </div>
            <div class="mb-3">
                <label for="password1">Contraseña:</label>
                <input type="password" name="password1" id="password1" class="form-control" placeholder="Contraseña">
            </div>
            <div class="mb-3">
                <label for="password2">Confirma contraseña:</label>
                <input type="password" name="password2" id="password2" class="form-control" placeholder="Ingresa tu contraseña de nuevo">
            </div>
            <button class="btn btn-primary">
                Registrar
            </button>
        </form>
    </div>
</div>

{% endblock %}
